.login-button {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin: 30px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
    font-size: 18px;
}

.menu-search {
    position: relative;
    width: 250px;
    margin-left: 20px;
}

.login-icon {
    font-size: 20px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 24px;
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.product-image {
    width: 100%;
    cursor: pointer;
}

.hover-image:hover {
    transform: scale(1.1);
}