.login-button {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin: 30px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.logo-image {
    cursor: pointer;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
    font-size: 18px;
}

.menu-search {
    position: relative;
    width: 250px;
    margin-left: 20px;
}

.login-icon {
    font-size: 20px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 24px;
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.product-image {
    width: 100%;
    cursor: pointer;
}

.hover-image:hover {
    transform: scale(1.1);
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 100%;
    margin-top: 10px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 140px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
    padding: 60px 20px;
    animation: slideIn 0.3s ease forwards;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
    font-size: 17px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .menu-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .product-img img {
        max-width: 400px;
    }
    .product-detail-info .price {
        margin-bottom: 30px;
    }

    .product-add-btn {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}