.login-button {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin: 30px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
    font-size: 18px;
    /* border: solid red; */
}

.menu-search {
    position: relative;
    width: 250px;
}

.login-icon {
    font-size: 20px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 24px;
    /* color: #4CAF50; */
}

.search-input {
    width: 100%;
    padding: 10px 40px;
    font-size: 16px;
    /* border: 2px solid #4CAF50; */
    border-radius: 20px;
    outline: none;
}

.menu-area {
    display: flex;
    justify-content: center;
}